form {
	/*margin: 0 auto; - I put it but see below line */
	background: #fff;
	max-width: 400px;
	/*height: 100%; */
	padding: 4em 4em 2em;
	margin: 100px auto 0; /*centers and put it down with 100px top */
	box-shadow: 0 0 1em #222;
	border-radius: 5px;
}

p{
	margin: 0 0 3em 0;
	position: relative;
}

label{
	display: block;
	font-size: 1.6em;
	margin: 0 0 .5em;
	color: #333;
}

input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none;
}
